<!-- Header -->
<div id="header">
	<h1>I'm <a href="/index.html"><strong>huw</strong>hoover</a></h1>
	<span><i class="fa fa-sign-language fa-2x fa-border" aria-hidden="true"><a href="/pages/about.html">Welcome</a></i></span>
	<p>
		<em>I am doing my side projects in bioinformatics, data visualization and front-end design.</em>
		<br>
		<em>This is a blog for my Timeline.</em>
	</p>
	<span>
		<i class="fa fa-calendar-times-o fa-2x fa-border" aria-hidden="true"><a href="/pages/timeline.html">Timeline</a></i>
		<i class="fa fa-quote-left fa-2x fa-border" aria-hidden="true"><a href="/pages/newsletter.html">Newsletter</a></i>
		<i class="fa fa-american-sign-language-interpreting fa-2x fa-border" aria-hidden="true"><a href="/pages/concepts.html">Concepts</a></i>
		<i class="fa fa-terminal fa-2x fa-inverse fa-border"><a href="/pages/blog.html">Blog</a></i>
	</span>
</div>
