---
layout: default
title: Blog
description: 筆記，待辦事項，日誌
---
<section class="box container-fluid">
    <aside>
        <h4>YOU MAY ALSO BE INTERESTED IN:</h4>
        <div id="myCanvasContainer">
            <canvas width="225" height="225" id="myCanvas">
          <p>Anything in here will be replaced on browsers that support the canvas element</p>
        </canvas>
            <div id="tags">
                <ul>
                    {% for tag in site.tags %}
                    <a href="{{ site.baseurl }}/tags.html#{{ tag[0] }}" title="{{ tag[0] }}">
            {{ tag[0] }}<sup>{{ tag[1].size }}</sup>&nbsp;
          </a> {% endfor %}
                </ul>
            </div>
        </div>
    </aside>
    <article>
        <ul style="list-style-type: none">
            {% for post in site.posts %}
            <li>
                <hr>
                <h2>
                 <a href=" {{ post.url }}">{{ post.title | upcase }}</a>
                 </h2>
            </li>
            <li>
                <em>{{ post.date | date: "%d %B %Y" }}</em>
            </li>
            <li><em>{{ post.excerpt | truncatewords: 83 }}</em></li>
            {% endfor %}
        </ul>
    </article>
</section>
