.banner
  padding 225px
  background: rgba(main, 30%) url("/assets/img/i.jpg") center top fixed
  background-size: cover
  line-height: 1.75
  text-align: center
  :last-child
    margin-bottom: 0
  img
    padding: 3px
    border: 1px solid rgba(255,255,255,0.3)
  .min-box
    background-color rgba(0,0,0,0.83)
    flex 1 0 300px
    margin 0 rem(25px) rem(50px)
    display inline-block
    border 1px solid sec
    border-radius 117px 5px 117px 5px
    min-height rem(285px)
    transition all .3s
    position relative
    &:hover
       box-shadow 1px 2px 10px sec
    h2
      margin rem(25px) rem(83px) rem(25px)
      font-family Avenir,'Open Sans', san-serif
      color sec
      margin-bottom 1.75em
      font-size rem(50px)
      text-transform none
      font-weight 400
      strong
        display block
        font-weight 800
        color yellow
        font-size rem(117px)
        line-height 1.35
        text-transform uppercase
    .min-btn
      text-align center
      border 0.5px solid main
      padding 10px 40px
      background sec
      width 35px
      border-radius 25px
      -moz-border-radius 25px
      &:hover
        box-shadow 1px 2px 10px sec
